__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
datasets/
*.csv
*.json
test/*
model/spark-venv-py310
model/spark_fraud_rf_model
model/sparkFraudRfModel
model/prediction_output